@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

:root {
    --cl-primary: #0c1826;
    --cl-secondary: #faf8f9;
    --cl-hover: #d83628;

    --font-size-small-device: 1rem;
    --font-size-navbar-small-device: 1.2rem;
    --font-size-navbar-phone-device: 1.5rem;
    --font-size-navbar-tablet-device: 1.7rem;
    --font-size-navbar-desktop-device: 1.9rem;
}

/* small devices portrait */
@media (min-width: 375px) and (max-width: 576px) { 
    .navbarItems {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        border-radius: 14px;
        margin: 20px auto 0 auto;
        width: 95%;
        height: 80%;
        background-color: var(--cl-primary);
    }

    .navbar-logo {
     color: var(--cl-secondary);
     padding: 20px;
     cursor: pointer;
     font-size: 1.3rem;   
     letter-spacing: 2px;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: var(--cl-primary);
        align-items: stretch;
        position: absolute;
        padding: 80px 0 30px 0;
        margin-top: 20px;
        width: 100%;
        height: auto;
        top: 0;
        left: -100%;
        opacity: 0;  
        transition: 0.3s ease-in-out;
        border-radius: 14px;
    }

    .navbar-menu.active {
        left: 0;
        opacity: 1;
        z-index: -1; 
    }

    .nav-links {
        display: block;
        font-size: var(--font-size-navbar-small-device);
        font-weight: 400;
        text-decoration: none;
        letter-spacing: 1px;
        width: 100%;
        color: var(--cl-secondary);
        transition: 0.3s ease-in-out;
        padding: 1.5rem 0;
    }

    .nav-links:hover {
        color: var(--cl-hover);
        transition: 0.3s ease-in-out;
    }

    button {
        display: none;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        text-decoration: none;
        letter-spacing: 1rem;
        background-color: var(--cl-hover);
        color: var(--cl-secondary);
        font-size: var(--font-size-navbar-small-device);
        font-weight: 500;
        letter-spacing: 2px;
        padding: 1.5rem;
        border-radius: 4px;
        width: 80%;
        margin: auto;
    }

    .navbarItems {
        z-index: 88;
    }

    .menu-icons {
        font-size: var(--font-size-navbar-small-device);
        color: var(--cl-secondary);
        cursor: pointer;
    }
}

/* phones view */
@media (min-width: 576px) and (max-width: 768px) {
.navbarItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-radius: 14px;
    margin: 20px auto 0 auto;
    width: 95%;
    height: 80%;
    background-color: var(--cl-primary);
}

.navbar-logo {
 color: var(--cl-secondary);
 padding: 20px;
 cursor: pointer;
 font-size: 1.3rem;   
 letter-spacing: 2px;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--cl-primary);
    align-items: stretch;
    position: absolute;
    padding: 80px 0 30px 0;
    margin-top: 20px;
    width: 100%;
    height: auto;
    top: 0;
    left: -100%;
    opacity: 0;  
    transition: 0.3s ease-in-out;
    border-radius: 14px;
}

.navbar-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1; 
}

.nav-links {
    display: block;
    font-size: var(--font-size-navbar-phone-device);
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    width: 100%;
    color: var(--cl-secondary);
    transition: 0.3s ease-in-out;
    padding: 1.5rem 0;
}

.nav-links:hover {
    color: var(--cl-hover);
    transition: 0.3s ease-in-out;
}

button {
    display: none;
}

.nav-links-mobile {
    display: block;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1rem;
    background-color: var(--cl-hover);
    color: var(--cl-secondary);
    font-size: var(--font-size-navbar-phone-device);
    font-weight: 500;
    letter-spacing: 2px;
    padding: 1.5rem;
    border-radius: 4px;
    width: 80%;
    margin: auto;
}

.navbarItems {
    z-index: 88;
}

.menu-icons {
    font-size: var(--font-size-navbar-small-device);
    color: var(--cl-secondary);
    cursor: pointer;
    }
}

/* tablet view */
@media (min-width: 768px) and (max-width: 993px)  { 
    .navbarItems {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        border-radius: 14px;
        margin: 20px auto 0 auto;
        width: 95%;
        height: 80%;
        background-color: var(--cl-primary);
    }

    .navbar-logo {
     color: var(--cl-secondary);
     padding: 20px;
     cursor: pointer;
     font-size: 1.8rem;   
     letter-spacing: 2px;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        background-color: var(--cl-primary);
        align-items: stretch;
        position: absolute;
        padding: 80px 0 30px 0;
        margin-top: 20px;
        width: 100%;
        height: auto;
        top: 0;
        left: -100%;
        opacity: 0;  
        transition: 0.3s ease-in-out;
        border-radius: 14px;
    }

    .navbar-menu.active {
        left: 0;
        opacity: 1;
        z-index: -1; 
    }

    .nav-links {
        display: block;
        font-size: var(--font-size-navbar-tablet-device);
        font-weight: 400;
        text-decoration: none;
        letter-spacing: 1px;
        width: 100%;
        color: var(--cl-secondary);
        transition: 0.3s ease-in-out;
        padding: 1.5rem 0;
    }

    .nav-links:hover {
        color: var(--cl-hover);
        transition: 0.3s ease-in-out;
    }

    button {
        display: none;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        text-decoration: none;
        letter-spacing: 1rem;
        background-color: var(--cl-hover);
        color: var(--cl-secondary);
        font-size: var(--font-size-navbar-tablet-device);
        font-weight: 500;
        letter-spacing: 2px;
        padding: 1.5rem;
        border-radius: 4px;
        width: 80%;
        margin: auto;
    }

    .navbarItems {
        z-index: 88;
    }

    .menu-icons {
        font-size: var(--font-size-navbar-small-device);
        color: var(--cl-secondary);
        cursor: pointer;
    }    
}

/* desktop view */
@media (min-width: 994px) and (max-width: 1200px) {
    .navbarItems {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        background-color: var(--cl-primary);
        width: 95%;
        height: 80px;
        border-radius: 14px;
    }

    .navbar-logo {
        color: var(--cl-secondary);
        cursor: pointer;
        letter-spacing: 2px;
        font-size: var(--font-size-navbar-desktop-device);
    }

    .navbar-menu { 
        display: flex; 
        grid-gap: 12px;
        list-style: none;
        align-items: center;
    }

    .nav-links-mobile {
        display: none;
    }
    
    button {
        padding: 0.5rem 1rem;
        white-space: nowrap;
        border-radius: 0.3rem;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
        border: none;
        cursor: pointer;
        color: var(--cl-secondary);
        background-color: var(--cl-hover);
    }

    button:hover {
        
    }

    .nav-links {
        text-decoration: none;
        color: var(--cl-secondary);
        font-size: 1.1rem;
    }

    .nav-links:hover {
        color: var(--cl-hover);
        transition: all 0.2s ease-in-out;
    }
}

/* large view */
@media (min-width: 1200px) and (max-width: 1400px) {

}

/* extra large view */
@media (1400px <= width <= 1440px) {
    
}
