:root {
    --cl-primary: #12192a;
    --cl-secondary: #F4F3EA;
    --cl-hover: #11dfab;
    --cl-buttons: #D3AC2B;

    --cl-text: #ffffff;
}

.navbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 30px;
    padding-left: 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .10);
    /* background-color:  var(--cl-primary); */
    border-radius: 14px;
    width: 95%;
    height: 80px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 8888;
}

.navbar-logo {
    font-size: 2rem;
    color: var(--cl-secondary);
    cursor: pointer;
}

.navbar-menu {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 10px;
    align-items: center;
    list-style: none;
}

.nav-links {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cl-primary);
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    transition: 0.3s ease-in-out;
}

.nav-links:hover {
    color: var(--cl-hover);
    transition: all 0.2s ease-in-out;
}

.nav-links-mobile {
    display: none;
}

button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border: none;
    white-space: nowrap; /* show the button in one line */
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: var(--cl-hover);
    color: var(--cl-text);
}

.menu-icons {
    display: none;
}

@media screen and (max-width: 850px) {
    .navbarItems{
        z-index: 99;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .10);
        /* background-color: var(--cl-primary); */
        position: absolute;
        align-items: stretch;
        width: 100%;
        height: auto;
        top: 0;
        left: -100%;
        opacity: 0;
        padding-top: 80px;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 30px;
        margin: 0;
        transition: 0.3s ease-in-out;
        border-radius: 14px;
    } 
    
    .navbar-menu.active {
        left: 0; 
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .10);
    }
    
    .nav-links {
        display: block;
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 0;
        padding-left: 0;
        font-size: 1.2rem;
    }

    /* .nav-links:hover {
        background: rgb(143, 143, 12);
        transition: none;
    } */

    button {
        display: none;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 4px;
        width: 80%;
        background: var(--cl-buttons);
        text-decoration: none;
        color: var(--cl-text);
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .menu-icons {
        display: block;
        cursor: pointer;
    }

    .menu-icons i {
        font-size: 1.5rem;
        color: var(--cl-secondary);
    }
}