
/* mobile view */
.news {
    margin-top: 50%;
    margin-bottom: 4rem;
    margin-right: 6rem;
    margin-left: 6rem;
}

.news h1 {
    font-size: 1.8rem;
}

.first-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    width: 210%;
}

.first-news-text {
    width: 50%;
    text-align: start;
    font-size: 1rem;
}

.first-news-text h2 {
    padding-bottom: 1rem;
}

.first-news-images {
    position: relative;
    display: flex;
    width: 50%;
    justify-content: space-between;
    z-index: -88;
    padding-bottom: 5%;
}

.first-news-images img {
    height: 250px;
    width: 49%;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.first-news-images img:nth-child(2) {
    position: absolute;
    top: -10%;
    right: 0;
}