:root {
    --cl-text: #1e1e20;
}

/* small devices portrait */
@media (375px <= width <= 576px) { 
    .quote {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    
    .home-quote {
        position: absolute;
        width: 100%;
        top: 20%;
        left: 50%;
        padding-right: 4%;
        padding-left: 4%;
        transform: translate(-50%, -50%);
    }
    
    .home-quote h1 {
        font-size: 1.1rem;
        font-weight: 800;
        background: var(--cl-text);
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
    }
    .home-quote em {
        font-size: 0.8rem;
        color: var(--cl-text);
        padding-top: 0.5rem;
        padding-bottom: 2rem;
        padding-right: 0;
        padding-left: 75%;
    }
}

/* phones view */
@media (576px <= width <= 768px) {

}

/* tablet view */
@media (768px <= width <= 992) { 

}

/* desktop view */
@media (992px <= width <= 1200px) {

}

/* large view */
@media (1200px <= width <= 1400) {

}

/* extra large view */
@media (1400px <= width <= 1440px) {
    
}